In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel("../Data/ICTO_Datasets/ICTO_Datasets.xlsx")

In [3]:
df.head()

,MemberAccountId,MinistryMonthlyBudgetAmount,StartDate,EndDate,Marital_Status,Number_of_Household_Members,City,State,PostalCode,Country
0,4018521622738705996,2875,2017-03-01,2018-02-28,Single,1,Coronado,CA,92118,United States of America
1,4018522013463289412,300,2013-12-01,2016-05-31,Married,1,Schaumburg,IL,60173,United States of America
2,4018522013463289412,938,2016-06-01,2019-05-31,Married,1,Schaumburg,IL,60173,United States of America
3,4018522645091917388,3462,2014-05-01,2014-12-31,Married,2,Central,SC,29630,United States of America
4,4018522645091917388,4345,2015-01-01,2015-06-30,Married,2,Central,SC,29630,United States of America