In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn import metrics
# from sklearn.cluster import AgglomerativeClusterin

In [4]:
df = pd.read_csv('../../Data/OutsideData/formatted_lat_long_for_Kmeans.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,MinistryMonthlyBudgetAmount,StartDate,EndDate,Marital_Status,Number_of_Household_Members,City,State,PostalCode,Country,Coded_Marital_Status,End_Yr,Start_Yr,End_Mnth,Start_Mnth,Address,Latitude,Longitude
0,0,0,1,5485,3/1/2013,12/31/2013,Married,2,Erlanger,KY,41018,United States of America,2.0,2013.0,2013.0,12.0,3.0,"Erlanger, KY, United States of America",39.013755,-84.602290
1,1,1,2,4454,11/1/2011,4/30/2012,Married,2,Spanish Fort,AL,36527,United States of America,2.0,2012.0,2011.0,4.0,11.0,"Spanish Fort, AL, United States of America",30.668757,-87.939710
2,3,2,3,767,1/1/2013,12/31/2013,Single,1,Lexington,KY,40517,United States of America,4.0,2013.0,2013.0,12.0,1.0,"Lexington, KY, United States of America",38.037847,-84.616450
3,53,3,4,6368,7/1/2015,2/29/2016,Married,2,Manheim,PA,17545,United States of America,2.0,2016.0,2015.0,2.0,7.0,"Manheim, PA, United States of America",40.168294,-76.412300
4,54,4,5,1919,8/1/2011,7/31/2012,Divorced,1,Jacksonville,FL,32258-5434,United States of America,1.0,2012.0,2011.0,7.0,8.0,"Jacksonville, FL, United States of America",30.344940,-81.683107

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8498 entries, 0 to 8497
Data columns (total 20 columns):
Unnamed: 0                     8498 non-null int64
Unnamed: 0.1                   8498 non-null int64
Unnamed: 0.1.1                 8498 non-null int64
MinistryMonthlyBudgetAmount    8498 non-null int64
StartDate                      8498 non-null object
EndDate                        8498 non-null object
Marital_Status                 8498 non-null object
Number_of_Household_Members    8498 non-null int64
City                           8498 non-null object
State                          8498 non-null object
PostalCode                     8498 non-null object
Country                        8498 non-null object
Coded_Marital_Status           8498 non-null float64
End_Yr                         8498 non-null float64
Start_Yr                       8498 non-null float64
End_Mnth                       8498 non-null float64
Start_Mnth                     8498 non-null float64
Address                        8498 non-null object
Latitude                       8498 non-null float64
Longitude                      8498 non-null float64
dtypes: float64(7), int64(5), object(8)
memory usage: 1.3+ MB

Need to find positioning of the initial centroids first so the algorithm can find convergence. Draw a sample from this dataset