Purpose of this script: Modify categorical and numerical data for a more accurate kmeans clustering modificaiton. This is done with Feature Engineering. Our data is mainly categorical (Postal Codes, Citys, Marital Status, Dates) We will use Bin-counting scheme encoding for this for the large number of categories we have for each attribute. 

-Cities converted to Lat and Longitude (new attributes made for these)

-Marital status converted to numbers for different values (new attribute made for the number code)

-Modify the dates so the new feature will say length of duration, do this by rounding start and end dates into nearest month of a certian year. The calculate the difference between start and end year, and the difference between start and end month. Drop the days. We will get the duration of the project. This will be the new feature along with rounded year.

In [1]:
# import libraries 
import numpy as np
import pandas as pd
import copy
import itertools


import geopy
from geopy import Nominatim

import seaborn as sns
sns.set(style='darkgrid')
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
%matplotlib inline

import scipy.stats as spstats
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelBinarizer

In [2]:
# read in data and make sure it is accurate
df = pd.read_csv('../../Data/ICTO_Datasets/cleaned_ICTO_Datasets.csv')
print(df.describe())
print()
print(df.info())
print()
print(df.shape)
print()
df.head()

        Unnamed: 0  MinistryMonthlyBudgetAmount  Number_of_Household_Members
count  8900.000000                  8900.000000                  8900.000000
mean   4450.500000                  4661.546067                     1.857753
std    2569.353031                  1805.624232                     0.355383
min       1.000000                    44.000000                     1.000000
25%    2225.750000                  3326.000000                     2.000000
50%    4450.500000                  4598.000000                     2.000000
75%    6675.250000                  5915.250000                     2.000000
max    8900.000000                 15136.000000                     3.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8900 entries, 0 to 8899
Data columns (total 10 columns):
Unnamed: 0                     8900 non-null int64
MinistryMonthlyBudgetAmount    8900 non-null int64
StartDate                      8900 non-null object
EndDate                        8900 non-null object
Marital_Status                 8900 non-null object
Number_of_Household_Members    8900 non-null int64
City                           8900 non-null object
State                          8900 non-null object
PostalCode                     8900 non-null object
Country                        8900 non-null object
dtypes: int64(3), object(7)
memory usage: 695.4+ KB
None

(8900, 10)

,Unnamed: 0,MinistryMonthlyBudgetAmount,StartDate,EndDate,Marital_Status,Number_of_Household_Members,City,State,PostalCode,Country
0,1,5485,3/1/2013,12/31/2013,Married,2,Erlanger,KY,41018,United States of America
1,2,4454,11/1/2011,4/30/2012,Married,2,Spanish Fort,AL,36527,United States of America
2,3,767,1/1/2013,12/31/2013,Single,1,Lexington,KY,40517,United States of America
3,4,6368,7/1/2015,2/29/2016,Married,2,Manheim,PA,17545,United States of America
4,5,1919,8/1/2011,7/31/2012,Divorced,1,Jacksonville,FL,32258-5434,United States of America

In [3]:
# create geopy object called 
geolocator=Nominatim(user_agent='geo_processor')

In [4]:
city = df['City'][0]
country = df['Country'][0]

In [5]:
# works for one
loc = geolocator.geocode('{},{}'.format(city, country))   
print(loc.latitude)
print(loc.longitude)

39.0167275
-84.6007773

In [15]:
# locations = pd.Series(itertools.zip_longest(df['City'], df['Country']))
# locations`

In [14]:

# loc_geocoded = geolocator.geocode('{}'.format(locations[0]))
loc_geocoded = geolocator.geocode('{},{}'.format(df['City'], df{'Country'}))

# print(locations[0])
# print(loc_geocoded.latitude)
# print(loc_geocoded.longitude)
# print(type(loc_geocoded))

('Erlanger', 'United States of America')

AttributeError: 'NoneType' object has no attribute 'latitude'

In [13]:
loc_geocoded = geolocator.geocode('{}'.format(locations[0]))

In [10]:

# loc_geocoded = geolocator.geocode('{}'.format(locations[counter]))

# geocoded = itertools.starmap(geolocator.geocode('{}'.format()), locations)
loc=pd.Series(itertools.islice(locations, 10))
# loc = str(loc)
# geocoded = geolocator.geocode('{}'.format(loc[0]))
# print(type(geocoded))
# geocoded.latitude
# print(loc[0])

In [11]:
loc

0        (Erlanger, United States of America)
1    (Spanish Fort, United States of America)
2       (Lexington, United States of America)
3         (Manheim, United States of America)
4    (Jacksonville, United States of America)
5     (Owingsville, United States of America)
6         (Orlando, United States of America)
7    (Millersville, United States of America)
8      (Glen Ellyn, United States of America)
9        (St Cloud, United States of America)
dtype: object

Marital status converted to numbers for different values (new attribute made for the number code)

In [ ]:
df.columns

In [ ]:
# get unique values in marital status
m_stats_unique = df['Marital_Status'].unique()
print('Unique columns',m_stats_unique)
print('Unique shape',m_stats_unique.shape)
print('Original shape ',df['Marital_Status'].shape)
print()
print('Value Counts:')
print(df['Marital_Status'].value_counts())
print('Unique Values: ', df['Marital_Status'].value_counts().count())

In [ ]:
# data exploration of marital status
mstatus_counts = df['Marital_Status'].value_counts()
sns.barplot(mstatus_counts.index, mstatus_counts.values, alpha=0.6)
plt.title('Frquency Distribution of Marital Status', color='white')
plt.ylabel('Number of Occurences', fontsize=12, color='white')
plt.xlabel('Marital Status', fontsize=12, color='white')
plt.show()

In [ ]:
labels = df['Marital_Status'].astype('category').cat.categories.tolist()
counts = df['Marital_Status'].value_counts()
sizes = [counts[var] for var in labels]
fig1, ax1 = plt.subplots()
ax1.pie(sizes, labels=labels, autopct='%1.1f%%', shadow=True) #autopct is show the % on plot
ax1.axis('equal')
plt.show()

In [ ]:
# use sci-kit learn's LabelBinarizer to convert Marital Status values to 

lb = LabelBinarizer()
lb_results = lb.fit_transform(df['Marital_Status'])
lb_results_df = pd.DataFrame(lb_results, columns=lb.classes_)
lb_results_df.head()
# print(df.head())

In [ ]:
# using pandas replace() and dictionary comprehensions to encode marital status with new values
labels = df['Marital_Status'].astype('category').cat.categories.tolist()
replace_map_mstatus = {'Marital_Status' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
replace_map_mstatus

In [ ]:
map_mstatus = {
    'Divorced': 1,
    'Married': 2,
    'Seperated': 3,
    'Single': 4,
    'Widowed': 5,
    'Widower': 6
}

In [ ]:
# mapping the column Marital_Status from df to dictionary mapping 
# df['Coded_Marital_Status'] = df['Marital_Status'].map(map_mstatus)
df['Coded_Marital_Status'] = df['Marital_Status'].map(map_mstatus)
df.head()

Modify the dates so the new feature will say length of duration, do this by rounding start and end dates into nearest month of a certian year. The calculate the difference between start and end year, and the difference between start and end month. Drop the days. We will get the duration of the project. This will be the new feature along with rounded year.

In [ ]:
type(df['StartDate'][0])

In [ ]:
split_series_start = df['StartDate'].str.split('/', n=3, expand=True)
split_series_end = df['EndDate'].str.split('/', n=3, expand=True)

In [ ]:
split_series_start

In [ ]:
df['Start_Yr'] = split_series_start[2]
df['End_Yr'] = split_series_end[2]
df['Start_Mnth'] = split_series_start[0]
df['End_Mnth'] = split_series_end[0]

In [ ]:
df['Start_Yr'] = df['Start_Yr'].astype(int)
df['End_Yr'] = df['End_Yr'].astype(int)
df['Start_Mnth'] = df['Start_Mnth'].astype(int)
df['End_Mnth'] = df['End_Mnth'].astype(int)

In [ ]:
# convert the years into months 
# add the start and end months onto the start and end years in months
# compute the difference in start and end years in months 
Start_Yr_Mnths = (df['Start_Yr'] * 12) + df['Start_Mnth']
End_Yr_Mnths = (df['End_Yr'] * 12) + df['End_Mnth']

In [ ]:
Time_Elapsed = End_Yr_Mnths - Start_Yr_Mnths

In [ ]:
Time_Elapsed

In [ ]:
df['Time_Elapsed_In_Months'] = pd.DataFrame(Time_Elapsed)

In [ ]:
df.drop(['Time_Elapsed'], axis=1, inplace=True)
df.head()